

@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@300&family=League+Gothic&display=swap');

:root{
  --nickel: #6D7070ff;
  --cultured: #F0F1F2ff;
  --tenne-tawny: #D25701ff;
  --dark-jungle-green: #1F221Cff;
  --davys-grey: #474B4Eff;
  --main-font : 'Inconsolata', monospace;
}

*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}

body{
  width:100vw;
  height:100vh;
  background:orange;
  background:var(--dark-jungle-green);
  color:var(--tenne-tawny);

  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;

  position:relative;
}


